.new-connection {
	position: absolute;
	padding-bottom: 120px !important;
}

.new-connection .tabs-container {
	padding-top: 60px;
}
.new-connection .tabs-header {
	position: fixed;
	top: 0;
	z-index: 1;
	background-color: white;
	width: 100%;
}

.new-connection .action-button {
	position: fixed;
	bottom: 30px;
	right: 60px;
	width: 60px;
	height: 60px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: darkslategray;
}
.new-connection .action-button > span {
	font-size: 26px;
}
.new-connection .action-button:hover {
	transform: scale(1.1);
}
