.tabbed-page {
	height: 100vh !important;
}

.tabbed-page .tabs-container {
	height: 100% !important;
}

.tabbed-page .tabs-header-container {
	width: 100%;
	background-color: #fdfdfd;
	padding: 0px var(--default-padding);
	flex-grow: 0;
}
.tabbed-page .tabs-header-container .tabs-header {
	margin: 1px;
}
.tabbed-page .tabs-header-container .tabs-header .btn-close:hover {
	transform: scale(1.15);
}

.tabbed-page div.ant-tabs-content-holder {
	overflow-x: hidden !important;
	overflow-y: scroll !important;
	flex-grow: 2;
	padding: var(--default-padding);
	/* simulate over scroll, to accommodate floating action button if any */
	padding-bottom: 120px;
}

.tabbed-page .floating-action-button {
	position: fixed;
	bottom: 40px;
	right: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 60px;
	height: 60px;
	background-color: darkslategray;
}

.tabbed-page .floating-action-button > span.anticon {
	font-size: 24px;
}
.tabbed-page .floating-action-button:hover {
	transform: scale(1.15);
}
